<?xml version="1.0" encoding="utf-8"?>

<!-- MSIX manifest of the Digital Drivers desktop app. Identity Name and Publisher are development values;
     for the Microsoft Store they are replaced by the values Partner Center assigns to the app. -->
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 rescap">

  <Identity
    Name="DigitalDrivers.Desktop"
    Publisher="CN=Digital Drivers Dev"
    Version="0.3.0.0" />

  <Properties>
    <DisplayName>Digital Drivers</DisplayName>
    <PublisherDisplayName>Digital Drivers</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap10:PackageIntegrity>
      <uap10:Content Enforcement="on"/>
    </uap10:PackageIntegrity>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="DigitalDrivers"
      Executable="dd-desktop.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Digital Drivers"
        Description="Digital Drivers desktop app: race join, technical scrutineering, content install"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MedTile.png"
        Square44x44Logo="Assets\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
